/*Footer Styling Starts*/

footer {
    background-color: var(--dark-accent);
    width: 100vw;
    bottom: 0;
    color: white;
    padding-top: 2em;
}

.footer_rows {
    width: 90%;
    margin: 1em auto;
}

.footer_rows h2 {
    margin-bottom: 10px;
}
.footer_logo {
    max-width: 261px;
}

.quick_links_footer ul {
    list-style: none;
}
.quick_links {
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    transition: 200ms;
}
.quick_links:hover {
    color: var(--primary-color);
    transition: 200ms;
}
.popular_courses {
    display: flex;
    align-items: center;
    gap: 10px;
}
.popular_courses--image {
    width: 100px;
}
.popular_courses--link {
    color: white;
    text-decoration: none;
    transition: 200ms;
}
.popular_courses--link:hover {
    color: var(--primary-color);
    transition: 200ms;
}
.subscribe input {
    height: 2.5em;
    padding: 5px 10px;
}
.subscribe input::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.subscribe input:focus {
    border: none;
    outline: none;
}
.subscribe button {
    padding: 0;
    margin-left: -10px;
    border: none;
    background: var(--primary-color);
    height: 2.5em;
    width: 2.5em;
    box-shadow: none;
    color: white;
    cursor: pointer;
}
.subscribe button i {
    transition: 300ms;
}
.subscribe button i:hover {
    transform: rotate(45deg);
    transition: 300ms;
}
@media (min-width: 700px) {
    .left_column {
        display: flex;
        justify-content: space-around;
    }
    .right_column {
        display: flex;
        justify-content: space-around;
    }
    .subscribe {
        width: 40%;
    }
    .popular_courses_section {
        width: 50%;
    }
    .quick_links_footer {
        width: 40%;
    }

    .indtutor_footer {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .footer_rows {
        display: flex;
    }
}
