/*Header Styling Starts*/
header {
    background-color: var(--background-color);
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}
.company_logo {
    width: 10em;
    margin-left: -17px;
}
.company_logo img {
    max-width: 100%;
}
.menu {
    display: none;
}
.menu_links {
    padding: 1em;
    text-decoration: none;
    color: var(--gray-accent);
    transition: 200ms;
    font-weight: 450;
}
.menu_links:hover {
    color: var(--primary-color);
    background-color: white;
    transition: 200ms;
}
.mobile_menu_btn {
    padding: 5px 10px;
    border: 1px solid var(--gray-accent);
    background-color: var(--background-color);
    color: var(--gray-accent);
    border-radius: 5px;
    box-shadow: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 200ms;
}
.mobile_menu_btn:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 200ms;
}
.mobile_menu_hidden {
    max-height: 0;
    overflow: hidden;
    transition: 300ms;
}

.mobile_menu {
    padding: 1em;
    transition: 300ms;
}
.mobile_menu_hidden {
    height: 0;
    transition: 300ms;
    padding: 0;
}
.mobile_menu_links {
    display: block;
    font-weight: 450;
    text-decoration: none;
    color: var(--gray-accent);
    padding: 1em 2em;
}
.mobile_menu_links:hover {
    background-color: white;
    color: var(--primary-color);
}
.contact_section {
    display: none;
}

@media (min-width: 780px) {
    .menu {
        display: block;
    }
    .mobile_menu_btn {
        display: none;
    }
    .mobile_menu {
        display: none;
    }
}

@media (min-width: 500px) {
    .contact_section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: var(--dark-accent);
    }
    .row_left {
        display: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 6%;
    }
    .row_right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6%;
    }
    .social_links {
        color: white;
    }
    .social_links a {
        color: white;
        margin: 0 1em;
    }
}
@media (min-width: 812px) {
    .row_right {
        width: 60%;
        justify-content: flex-end;
        padding: none;
        padding-right: 6%;
    }
    .row_left {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        color: white;
        background-color: var(--primary-color);
        position: relative;
    }

    .row_left a {
        color: white;
        text-decoration: none;
    }
}
@media (min-width: 1220px) {
    .row_left::after {
        content: '';
        position: absolute;
        top: 0;
        right: -30px; /* Adjust as needed */
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 0 solid transparent; /* Triangle size */
        border-bottom: 100px solid transparent; /* Triangle size */
        border-left: 30px solid var(--primary-color); /* Triangle color */
    }
}
/*Header Styling Ends*/
