@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --primary-color: #1abc9c;
    --gray-accent: #5a5a5a;
    --background-color: #f7f8fa;
    --dark-accent: #252628;
    --darker-gray: #f2f4f6;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
}
main {
    min-height: 50vh;
    background-color: var(--background-color);
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, white 50%, var(--primary-color) 50%);
    background-size: 400% 100%;
    background-position: right bottom;
    transition: 700ms ease-out;
    border: 2px solid var(--primary-color);
}
.btn:hover {
    transition: 700ms ease-out;

    background-position: left bottom;
    color: var(--primary-color);
}
/*Header Styling Starts*/
header {
    background-color: var(--background-color);
    width: 100vw;
}
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 6%;
}
.company_logo {
    width: 10em;
    margin-left: -17px;
}
.company_logo img {
    max-width: 100%;
}
.header_btn {
    padding: 8px 20px;
    border-radius: 20px;
    font-weight: 500;
    font-size: 12px;
}
.menu {
    display: none;
}
.menu_links {
    padding: 1em;
    text-decoration: none;
    color: var(--gray-accent);
    transition: 200ms;
    font-weight: 450;
}
.menu_links:hover {
    color: var(--primary-color);
    background-color: white;
    transition: 200ms;
}
.mobile_menu_btn {
    padding: 5px 10px;
    border: 1px solid var(--gray-accent);
    background-color: var(--background-color);
    color: var(--gray-accent);
    border-radius: 5px;
    box-shadow: none;
    font-size: 1.25rem;
    cursor: pointer;
    transition: 200ms;
}
.mobile_menu_btn:hover {
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 200ms;
}
.mobile_menu_hidden {
    max-height: 0;
    overflow: hidden;
    transition: 300ms;
}

.mobile_menu {
    padding: 1em;
    transition: 300ms ease-in-out;
    opacity: 1;
}
.mobile_menu_hidden {
    height: 0;
    opacity: 0;
    transition: 300ms ease-in-out;
    padding: 0;
}
.mobile_menu_links {
    display: block;
    font-weight: 450;
    text-decoration: none;
    color: var(--gray-accent);
    padding: 1em 2em;
}
.mobile_menu_links:hover {
    background-color: white;
    color: var(--primary-color);
}
.contact_section {
    display: none;
}

@media (min-width: 780px) {
    .menu {
        display: block;
    }
    .mobile_menu_btn {
        display: none;
    }
    .mobile_menu {
        display: none;
    }
}

@media (min-width: 500px) {
    .contact_section {
        display: flex;
        justify-content: space-around;
        align-items: center;

        background-color: var(--dark-accent);
    }
    .row_left {
        display: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 6%;
    }
    .row_right {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 6%;
    }
    .social_links {
        color: white;
    }
    .social_links a {
        color: white;
        margin: 0 1em;
    }
}
@media (min-width: 812px) {
    .row_right {
        width: 60%;
        justify-content: flex-end;
        padding: none;
        padding-right: 6%;
    }
    .row_left {
        width: 40%;
        display: flex;
        flex-wrap: wrap;
        gap: 1em;
        color: white;
        background-color: var(--primary-color);
        position: relative;
        align-self: stretch;
    }

    .row_left a {
        color: white;
        text-decoration: none;
    }
}
@media (min-width: 1220px) {
    .row_left::after {
        content: '';
        position: absolute;
        top: 0;
        right: -30px; /* Adjust as needed */
        transform: translateY(-50%);
        width: 0;
        height: 0;
        border-top: 0 solid transparent; /* Triangle size */
        border-bottom: 100px solid transparent; /* Triangle size */
        border-left: 30px solid var(--primary-color); /* Triangle color */
    }
}
/*Header Styling Ends*/

/*Breadcrumb styling starts*/
.breadcrumbs {
    color: var(--gray-accent);
    font-weight: 400;
    background-color: var(--darker-gray);
    padding: 70px 6%;
}
.breadcrumbs--heading {
    color: var(--gray-accent);
    margin-bottom: 1em;
}
.breadcrumbs--link {
    color: var(--gray-accent);
    font-weight: 700;
    transition: 300ms;
}
.breadcrumbs--link:hover {
    color: var(--primary-color);
    transition: 300ms;
}
.breadcrumbs--arrows {
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0 5px;
}
/*Breadcrumb styling ends*/

/*Styling for hero section starts*/
/*animations*/
@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromTop {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromBottom {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.slide-1 h1 {
    opacity: 0;
    animation: slideInFromTop 1s ease forwards;
}

.slide-2 h1 {
    opacity: 0;
    animation: slideInFromRight 1s ease forwards;
}
.slide-2 a {
    opacity: 0;
    animation: slideInFromLeft 1.25s ease forwards;
}
.slide-3 h1 {
    opacity: 0;

    animation: slideInFromBottom 1s ease forwards;
}
.slide-3 a {
    opacity: 0;

    animation: slideInFromRight 1.25s ease forwards;
}
.swiper-slide-active h1 {
    animation-delay: 0.5s; /* Delay to synchronize with slide transition */
}
.swiper-slide-active a {
    animation-delay: 0.5s; /* Delay to synchronize with slide transition */
}
.hero {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.swiper {
    width: 100%;
    height: 100%;
}

.swiper-wrapper {
    display: flex;
}

.swiper-slide {
    position: relative;
    background-size: cover;
    background-position: center center;
}

.slide-1 {
    background-image: url(../images/CarouselImage1.webp);
}

.slide-2 {
    background-image: url(../images/CarouselImage2.webp);
}

.slide-3 {
    background-image: url(../images/CarouselImage3.webp);
}

.image-overlay {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10%;
    position: absolute;
    width: 100%;
}
.slide-2 .image-overlay {
    flex-direction: column;
    gap: 10%;
    justify-content: center;
    text-align: center;
}
.slide-3 .image-overlay {
    flex-direction: column;
    gap: 10%;
    align-items: flex-start;
    justify-content: center;
}
.slide-3 .image-overlay .btn {
    text-align: center;
}

.hero h1 {
    font-size: 2.5rem;
    line-height: 1.2;
}

.hero h1 span {
    font-size: 2.5rem;
    font-weight: bold;
    color: var(--primary-color);
}

.hero--carousel_btn {
    padding: 1em 2em;
    border-radius: 5px;
    font-weight: 500;
}
.swiper-button-next,
.swiper-button-prev {
    background-color: var(--primary-color);
    padding: 2em;
    color: white !important;
    transition: 300ms ease-out;
    opacity: 0; /* Make them invisible */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Smooth transition */
    position: absolute;
    top: 50%; /* Vertically center */
    z-index: 10;
    pointer-events: none; /* Disable button clicks when not visible */
}
.swiper-button-next {
    transform: translateX(50px); /* Move next button off to the right */
}
.swiper-button-prev {
    transform: translateX(-50px); /* Move prev button off to the left */
}
.hero:hover .swiper-button-next,
.hero:hover .swiper-button-prev {
    opacity: 1; /* Make them visible */
    transform: translateX(0); /* Bring them to their original positions */
    pointer-events: auto; /* Enable clicks */
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    filter: brightness(70%);
    transition: 300ms ease-out;
}

@media (max-width: 700px) {
    .hero {
        height: 50vh;
    }
    .image-overlay {
        font-size: 1rem;
    }
    .image-overlay h1 {
        font-size: 1.75rem;
    }
}
/*Styling for hero section ends*/

/*Styling for subject card starts*/
/*Card Design*/
.subject_card {
    width: 100%;
    max-width: 280px;
    margin: 2em auto;
    background-color: white;
}
.subject_card--thumbnail-container {
    position: relative;
    overflow: hidden;
    height: 10em;
}
.subject_card--thumbnail {
    width: 100%;
    height: 100%;
    display: block;
}
.subject_card--price {
    background-color: var(--primary-color);
    color: white;
    padding: 5px 1em;
    position: absolute;
    left: -100%; /* Start off the screen */
    top: 10%;
    transition: left 0.3s ease; /* Smooth transition for the price */
}

.subject_card--view_details {
    position: absolute;
    background-color: white;
    color: var(--primary-color);
    padding: 10px;
    border-radius: 100%;
    top: 50%;
    left: 50%; /* Centered initially */
    transform: translate(-50%, -50%); /* Centering adjustment */
    opacity: 0; /* Hidden by default */
    transition: opacity 0.3s ease; /* Smooth transition for opacity */
}
.subject_card--view_details:hover {
    color: white;
    background-color: var(--primary-color);
    transition: 200ms;
}

.subject_card--thumbnail-container:hover .subject_card--price {
    left: 0; /* Move into view */
}

.subject_card--thumbnail-container:hover .subject_card--view_details {
    opacity: 1; /* Fade in on hover */
}
.subject_card--details {
    padding: 10px 1em;
    justify-content: space-between;
    display: flex;
    margin-top: -5px;
    background-color: var(--primary-color);
}
.subject_card--ratings {
    color: #febd27;
}
.subject_card--date {
    color: white;
}
.subject_card--desc {
    text-align: center;
    padding: 1em 0;
}

.subject_card--link {
    color: black;
    font-weight: 700;
    transition: color 200ms;
}
.subject_card--link:hover {
    color: var(--primary-color);
    transition: color 200ms;
}
.subject_card--category {
    margin: 1em 0;
}
.subject_card--student_count {
    text-align: center;
    padding: 1em 0;
}
.subject_card--student_count i + span {
    margin-left: 6px;
}
/*Styling for subject card ends*/
/*Styling for subject carousel starts*/
.subject_head {
    padding: 4px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
    flex-wrap: wrap;
}
.subject_carousel--category_btn {
    padding: 5px 10px;
    border-radius: 5px;
}
.subject_carousel {
    background-color: var(--background-color);
    padding: 0 6%;
}

.subject--swiper_next,
.subject--swiper_prev {
    cursor: pointer;
    width: 50px; /* Adjust size as needed */
    height: 50px;
    font-weight: 700;
    background: var(--darker-gray); /* Background color */
    color: var(--dark-accent);
    border-radius: 50%; /* Circular buttons */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%; /* Center vertically */
    transform: translateY(-50%);
    z-index: 10; /* Ensure buttons are above slides */
    transition: 300ms;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
}
.subject--swiper_next:hover,
.subject--swiper_prev:hover {
    background-color: var(--primary-color);
    color: white;
    transition: 300ms;
}

.subject--swiper_next {
    right: 10px;
}

.subject--swiper_prev {
    left: 10px; /* Positioning */
}
.subjectSwiper:hover .subject--swiper_next,
.subjectSwiper:hover .subject--swiper_prev {
    opacity: 1;
    visibility: visible;
}

/*Styling for subject carousel ends*/

/*Styling for cateogries section starts*/
.categories {
    padding: 3em 6%;
}
.categories--container {
    display: grid;
    gap: 20px; /* Spacing between items */
    grid-template-columns: 1fr; /* Single column by default */
}

/* For medium screens (e.g., tablets, 768px and above) */
@media (min-width: 768px) {
    .categories--container {
        grid-template-columns: repeat(2, 1fr); /* Two columns */
    }
}

/* For large screens (e.g., small desktops, 1024px and above) */
@media (min-width: 1024px) {
    .categories--container {
        grid-template-columns: repeat(3, 1fr); /* Three columns */
    }
}

/* For extra-large screens (e.g., large desktops, 1440px and above) */
@media (min-width: 1440px) {
    .categories--container {
        grid-template-columns: repeat(4, 1fr); /* Four columns */
    }
}
.category {
    display: block;
    padding: 1em 2em;
    border-radius: 5px;
    background-color: white;
    font-weight: 800;
    color: var(--gray-accent);
    transition: color 300ms;
    margin-top: 1em;
}
.category span {
    margin-left: 1em;
}
.category:hover {
    color: var(--primary-color);
    transition: color 300ms;
}
/*Styling for cateogries section ends*/

/*Styling for about section starts*/
.about {
    padding: 3em 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about--image {
    display: block;
    width: 100%;
    max-width: 690px;

    border: 20px solid white;
}
.about--desciption {
    max-width: 690px;
}

.title {
    position: relative;
    color: var(--primary-color);
    text-transform: uppercase;
    z-index: 1;
}
.title_background {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 2.15rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(214, 214, 214, 0.6);
    text-transform: uppercase;
    z-index: 0; /* Behind the title */
    white-space: nowrap; /* Prevent wrapping */
}
.about--desciption_heading {
    color: var(--gray-accent);
    margin: 1em 0;
}
.about--desciption_list li {
    margin: 1em 0;
    margin-left: 2em;
    position: relative;
}
.about--desciption_list li::before {
    content: '\2713';
    background-color: var(--primary-color);
    padding: 1px 5px;
    font-weight: 700;
    position: absolute;
    left: -2em;
    color: white;
    border-radius: 100%;
}

@media (min-width: 990px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        align-items: flex-start;
    }
    .about--image {
        display: block;
        width: 50%;
        border: 20px solid white;
    }
    .about--desciption {
        width: 50%;
    }
}
/*Styling for about section ends*/

/*Styling for founders section starts*/
.founders {
    padding: 3em 6%;
    text-align: center;
    color: var(--gray-accent);
}
.founders--heading {
    text-transform: uppercase;
    color: var(--gray-accent);
    margin: 1em 0;
}
.founder {
    margin-bottom: 2em;
}
.founder--image {
    width: 100%;
    max-width: 280px;
    height: 360px;
    margin-bottom: 10px;
}
.founder--name {
    margin-bottom: 5px;
}
@media (min-width: 800px) {
    .founders--container {
        display: flex;
        justify-content: space-evenly;
    }
    .founder {
        width: 30%;
    }
}
/*Styling for founders section ends*/

/*Styling for free workshops section starts*/

.workshops {
    padding: 1em 6%;
}
.workshop {
    background-color: white;
}
.workshop--data {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.workshop--thumbnail {
    width: 100%;
}
.workshop--title {
    font-size: 1rem;
    margin-bottom: 1em;
}
.workshop--description {
    margin-bottom: 1em;
}
.workshop--book_demo {
    border-radius: 5px;
    display: block;
    width: fit-content;
    align-self: center;
    font-size: 1rem;
    padding: 1em 2em;
}
@media (min-width: 800px) {
    .workshop {
        display: flex;
    }
    .workshop--thumbnail {
        max-width: 300px;
        max-height: 210px;
    }
}
/*Styling for free workshops section ends*/

/*Footer Styling Starts*/

footer {
    background-color: var(--dark-accent);
    width: 100vw;
    bottom: 0;
    color: white;
    padding-top: 2em;
}

.footer_rows {
    width: 90%;
    margin: 1em auto;
    margin-bottom: 1em;
    gap: 1em;
}
.footer_rows div {
    margin-bottom: 2em;
}
.footer_rows h2 {
    margin-bottom: 10px;
}
.footer_logo {
    max-width: 261px;
}

.quick_links_footer ul {
    list-style: none;
}
.quick_links {
    display: block;
    width: fit-content;
    color: white;
    text-decoration: none;
    transition: 200ms;
}
.quick_links:hover {
    color: var(--primary-color);
    transition: 200ms;
}
.popular_courses {
    display: flex;
    margin-bottom: 1em;
    align-items: center;
    gap: 10px;
}
.popular_courses--image {
    width: 100px;
}
.popular_courses--link {
    color: white;
    text-decoration: none;
    transition: 200ms;
}
.popular_courses--link:hover {
    color: var(--primary-color);
    transition: 200ms;
}
.subscribe {
    width: 100%;
}
.subscribe input {
    height: 2.5em;
    padding: 5px 10px;
}
.subscribe input::placeholder {
    font-family: 'Montserrat', sans-serif;
}
.subscribe input:focus {
    border: none;
    outline: none;
}
.subscribe button {
    padding: 0;
    margin-left: -10px;
    border: none;
    background: var(--primary-color);
    height: 2.5em;
    width: 2.5em;
    box-shadow: none;
    color: white;
    cursor: pointer;
}
.subscribe button i {
    transition: 300ms;
}
.subscribe button:hover i {
    transform: rotate(45deg);
    transition: 300ms;
}
.copyright_statement {
    padding: 3em 0;
}
@media (min-width: 700px) {
    .left_column {
        display: flex;
        justify-content: space-around;
    }
    .right_column {
        display: flex;
        justify-content: space-around;
    }
    .subscribe {
        width: 40%;
    }
    .popular_courses_section {
        width: 50%;
    }
    .quick_links_footer {
        width: 40%;
    }

    .indtutor_footer {
        width: 50%;
    }
}

@media (min-width: 1200px) {
    .footer_rows {
        display: flex;
    }
}
