@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: 16px;
    --primary-color: #1abc9c;
    --gray-accent: #5a5a5a;
    --background-color: #f7f8fa;
    --dark-accent: #252628;
    --darker-gray: #f2f4f6;
    font-family: 'Montserrat', sans-serif;
}
body {
    width: 100vw;
}
main {
    min-height: 50vh;
    background-color: var(--background-color);
}
a {
    text-decoration: none;
}

li {
    list-style: none;
}
.btn {
    text-decoration: none;
    color: white;
    background: linear-gradient(to right, white 50%, var(--primary-color) 50%);
    background-size: 300% 100%;
    background-position: right bottom;
    transition: background 0.5s ease-out;
}
.btn:hover {
    transition: background 0.5s ease-out;

    background-position: left bottom;
    color: var(--primary-color);

    border: 1px solid var(--primary-color);
}
/*Breadcrumb styling starts*/
.breadcrumbs {
    color: var(--gray-accent);
    font-weight: 400;
    background-color: var(--darker-gray);
    padding: 70px 6%;
}
.breadcrumbs--heading {
    color: var(--gray-accent);
    margin-bottom: 1em;
}
.breadcrumbs--link {
    color: var(--gray-accent);
    font-weight: 700;
    transition: 300ms;
}
.breadcrumbs--link:hover {
    color: var(--primary-color);
    transition: 300ms;
}
.breadcrumbs--arrows {
    font-size: 0.8rem;
    font-weight: 900;
    margin: 0 5px;
}
/*Breadcrumb styling ends*/

/*Styling for about section starts*/
.about {
    padding: 3em 6%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about--image {
    display: block;
    width: 100%;
    max-width: 690px;

    border: 20px solid white;
}
.about--desciption {
    max-width: 690px;
}
.about--title {
    position: relative;
    display: inline-block;
}
.title {
    position: relative;
    color: var(--primary-color);
    margin: 1em 15px;
    text-transform: uppercase;
    z-index: 1;
}
.title_background {
    position: absolute;
    top: 20px;
    left: -10px;
    font-size: 2rem;
    font-weight: 900;
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(214, 214, 214, 0.6);
    text-transform: uppercase;
    z-index: 0; /* Behind the title */
    white-space: nowrap; /* Prevent wrapping */
}
.about--desciption_heading {
    color: var(--gray-accent);
    margin: 1em 0;
}
.about--desciption_list li {
    margin: 1em 0;
    margin-left: 2em;
    position: relative;
}
.about--desciption_list li::before {
    content: '\2713';
    background-color: var(--primary-color);
    padding: 1px 5px;
    font-weight: 700;
    position: absolute;
    left: -2em;
    color: white;
    border-radius: 100%;
}

@media (min-width: 990px) {
    .about {
        flex-direction: row;
        justify-content: space-between;
        gap: 2em;
        align-items: flex-start;
    }
    .about--image {
        display: block;
        width: 50%;
        border: 20px solid white;
    }
    .about--desciption {
        width: 50%;
    }
}
/*Styling for about section ends*/

/*Styling for founders section starts*/
.founders {
    padding: 3em 6%;
    text-align: center;
    color: var(--gray-accent);
}
.founders--heading {
    text-transform: uppercase;
    color: var(--gray-accent);
    margin: 1em 0;
}
.founder {
    margin-bottom: 2em;
}
.founder--image {
    width: 100%;
    max-width: 280px;
    height: 360px;
    margin-bottom: 10px;
}
.founder--name {
    margin-bottom: 5px;
}
@media (min-width: 800px) {
    .founders--container {
        display: flex;
        justify-content: space-evenly;
    }
    .founder {
        width: 30%;
    }
}
/*Styling for founders section ends*/

/*Styling for free workshops section starts*/

.workshops {
    padding: 1em 6%;
}
.workshop {
    background-color: white;
}
.workshop--data {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.workshop--thumbnail {
    width: 100%;
}
.workshop--title {
    font-size: 1rem;
    margin-bottom: 1em;
}
.workshop--description {
    margin-bottom: 1em;
}
.workshop--book_demo {
    border-radius: 5px;
    display: block;
    width: fit-content;
    align-self: center;
    font-size: 1rem;
    padding: 1em 2em;
}
@media (min-width: 800px) {
    .workshop {
        display: flex;
    }
    .workshop--thumbnail {
        max-width: 300px;
        max-height: 210px;
    }
}
/*Styling for free workshops section ends*/
